body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.new-product-form {
width:70%;  
margin: 3rem auto;
padding: 1.5rem 1.5rem 0 1.5rem;
border: 1px solid #ced4da;
border-radius: 10px;
}

.form-group {
  margin-top: 1rem ;
}

.me-2 {
  margin-right: .25rem;
}

.ms-5 {
  margin-left: 3rem;
}

.new-product-form .form-label {
  font-weight: 500;
  margin-left: 1rem;
  color: #65696c !important;
}

.new-product-curr-label {
  margin-left: .5rem !important;
  margin-bottom: .25rem !important;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.new-product-form button {
  width:70%;
  margin: 1.5rem auto;
}